<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="robots" content="index, follow, all"/>
    <meta name="author" content="Alain Tiemblo"/>
    <meta name="description" content="domajax is a free jQuery plugin that gives you tools to add ajax calls within your application, without a piece of javascript."/>
    <meta name="keywords" content="domajax, ajax, jquery, plugin, javascript"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}domajax.com - do ajax calls without javascript{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/docs.css') }}">
    <link rel="stylesheet" href="{{ asset('css/prettify.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>

<body data-spy="scroll" data-target=".navbar">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/domajax/jquery.domajax.js') }}"></script>
    <script src="{{ asset('js/bootstrap/bootstrap.js') }}"></script>
    <script src="{{ asset('js/prettify/prettify.js') }}"></script>
    <script src="{{ asset('js/prettify/run_prettify.js') }}"></script>
    <script src="{{ asset('js/common.js') }}"></script>

    <div id="wait" class="display-none">
        <div class="center">
            <img src="{{ asset('img/wait.gif') }}" />
        </div>
    </div>

    {{ render(controller('FuzDomAjaxBundle:Default:menu')) }}

    <div class="container-fluid">

        {% block contents %}{% endblock %}

        <footer>
            &nbsp;
        </footer>

    </div>

    {{ include("FuzDomAjaxBundle:Default:analytics.html.twig") }}

    </body>
</html>
