
{% macro demos_tabs(id, list) %}

{% set id = id ~ '-demos' %}

<div id="{{ id }}"  class="row-fluid">
    <div class="span12">
        <div class="tabbable tabs-left">
            <ul class="nav nav-tabs">
                {% for index, elem in list %}
                    <li class="demo-switcher {% if index == 0 %}active{% endif %}"><a href="#{{ id }}-tab{{ index }}" data-toggle="tab">{{ elem.title }}</a></li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for index, elem in list %}
                    <div class="tab-pane fade {% if index == 0 %}active{% endif %} in" id="{{ id }}-tab{{ index }}">
                        <p>{{ elem.content | raw }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endmacro %}

{% macro demo_tabs(id, show_code, extension) %}

{% if extension is empty %}
    {% set extension = 'html' %}
{% endif %}

<div id="{{ id }}">
    <ul id="{{ id }}-tabs" class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#{{ id }}-demo">Live Demo</a>
        </li>
        <li>
            <a
                data-toggle="tab"
                href="#{{ id }}-html"
                class="domajax click"
                data-endpoint="{{ path('fuz_dom_ajax_complete_html', {'demo': id, 'extension': extension}) }}"
                data-output="#{{ id }}-html"
                data-method="get"
                data-limit="1"
                >Complete HTML</a>
        </li>
        <li>
            <a
                data-toggle="tab"
                href="#{{ id }}-php"
                class="domajax click"
                data-endpoint="{{ path('fuz_dom_ajax_php_handler', {'demo': id}) }}"
                data-output="#{{ id }}-php"
                data-method="get"
                data-limit="1"
                >PHP Handler</a>
        </li>
        <li><a href="{{ asset('demo/' ~ id ~ '-view.' ~ extension) }}" target="_new">Open in new tab</a></li>
    </ul>
    <div class="tab-content">
        <div id="{{ id }}-demo" class="tab-pane fade active in">
            {% if show_code %}
                <div class="fullwidth">
                    <iframe id="frame-{{ id }}" class="demo-iframe fullwidth" src="{{ asset('demo/' ~ id ~ '-view.' ~ extension) }}"></iframe>
                    <div class="center">
                        <a href="#" class="demo-switcher small no-click">If the result is not displayed correctly, click here to resize iframe above.</a>
                    </div>
                </div>
                <div class="fullwidth">
                    <p>This form looks like this:</p>
                    <pre class="prettyprint">{{ asset_demo('demo/' ~ id ~ '-view.' ~ extension) }}</pre>
                </div>
            {% else %}
                <div class="fullwidth">
                    <iframe id="frame-{{ id }}" class="demo-iframe fullwidth" src="{{ asset('demo/' ~ id ~ '-view.' ~ extension) }}"></iframe>
                    <div class="center">
                        <a href="#" class="demo-switcher small no-click">If the result is not displayed correctly, click here to resize iframe above.</a>
                    </div>
                </div>
            {% endif %}
        </div>
        <div id="{{ id }}-html" class="tab-pane fade">
            <div class="center">
                <img src="{{ asset('img/wait.gif') }}" />
            </div>
        </div>
        <div id="{{ id }}-php" class="tab-pane fade">
            <div class="center">
                <img src="{{ asset('img/wait.gif') }}" />
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function() {
        prettyPrint();
        $('.demo-iframe').load(function() {
            var that = $(this);
            resizeFrame(that);
            hideGoHome(that);
        });
    });
</script>

{% endmacro %}
